@charset "utf-8";

@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

html > body {
	font-family: "GmarketSansMedium";
}

/* 커스텀 */

//탑바 구현 시작
.top-bar {
  position: absolute;
  border: 2px solid pink;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  img {
    width: 40%;
    height: 40%;
    max-height: 40%;
  }
}

.top-bar__inner {
  border: 2px solid blue;
  padding-top: 40px;
  padding-inline: 3.5%; //x축(왼,오)
  width: 100%;
  display: flex;
}

//탑바 구현 끝